<!-- sidebar menu start -->
<div class="sidebar-menu sticky-sidebar-menu">
  <!-- logo start -->
  <div class="logo">
    <h1><a >ShopBridge</a></h1>
  </div>

  <div class="logo-icon text-center">
    <a  title="logo"
      ><img src="assets/images/logo.png" alt="logo-icon" />
    </a>
  </div>
  <!-- //logo end -->

  <div class="sidebar-menu-inner">
    <!-- sidebar nav start -->
    <ul class="nav nav-pills nav-stacked custom-nav">
      <li class="active">
        <a [routerLink]="[ '/product/add' ]"
          ><i class="fa fa-tachometer"></i><span> Add Item</span></a
        >
      </li>
    </ul>
    <!-- //sidebar nav end -->
  </div>
</div>
