.btn {
  color: white;
}

.edit {
  color: white;
  background-color: orange;
}

.delete {
  color: white;
  background-color: red;
}

.header-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
