.no-product {
  color: blue !important;
  cursor: pointer;
}

.view {
  color: white;
  background-color: rgb(30, 106, 168);
}

.edit {
  color: white;
  background-color: orange;
}

.delete {
  color: white;
  background-color: red;
}

.header-button {
  display: flex;
  justify-content: flex-end;
}
